@{
    ViewData["Title"] = "Las reglas...";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<br />
<div class="center">
    <img class="img" style="text-align: center; height:200px; width:250px" src="~/images/Da_Rules_Stock_Image.webp" />
    <br />
    <h3>Las reglas de Graphiclabs.</h3>
    <p style="color: #56456a">1. No se aceptará contenido pornográfico o contenido provocativo con fines no artísticos.</p>
    <p style="color: #56456a">2. No se aceptará contenido racista, homófobo, xenófobo o que incite al odio.</p>
    <br />
    <p style="color: #56456a">Cualquier publicación o perfil que presente estas características será eliminado permanentemente.</p>
</div>
